**1-Write a Python program to calculate the length of a string using 2 ways

In [4]:
msg="Karim"
len(msg)
count=0
for i in msg:
    count+=1
print(count)
print(len(msg))

5
5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [1]:
text="W3resource"
print(text[0:2]+""+ text[-2:len(text)])

W3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [29]:
text=input()

length=len(text)
if(length>=3):
    if(text[-3:length]=="ing"):
        text=text.replace("ing","ly")
    else:
        text=text+"ing"
    print(text)
else:
    print(text)

study
studying

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [36]:
words=["Karim","Amadeus","Salma","LionelMessi","Andreas Iniesta","Ibrahimovic"]
for i in range(1,6):
    res=max(len(words[i]),len(words[i-1]))
    if(i==5):
        print(words[i])
        print(res)

Ibrahimovic
15

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [1]:
t1="Karim"
t2=t1[-1]+t1[1:-1]+t1[0]
print(t2)

mariK

In [16]:
t3=list(t1)
t3[0],t3[-1]=t3[-1],t3[0]
text="".join(t3)
text

'mariK'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [61]:
msg="abca"
leng=len(msg)
res=""
for i in range(0,leng):
    if(i%2==0):
        res=res+msg[i]
        
        
    
print(res)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [86]:
import collections
from collections import Counter 
msg="amr and ahmed are friends but amr is the tallest"
msg=msg.split()
count=dict()

for i in msg:
    if(i in count):
        count[i]+=1
    else:
        count[i]=1
print(count)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'friends': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [6]:
msg=input()
print(msg.upper())
print(msg.lower())

karim
KARIM
karim

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [12]:
msg=input()
if(len(msg)%4==0):
    print(msg[-1]+msg[1:-1]+msg[0])
else:
    print(msg)

mike
eikm

**10- Write a Python program to remove a newline in Python

In [24]:
msg="Hi\n Hru?\n Whats your name?\n"
print(msg)
x=msg.replace("\n",'')
print(x)

Hi
 Hru?
 Whats your name?

Hi Hru? Whats your name?

**11-Write a Python program to check whether a string starts with specified characters

In [35]:
msg="INSTANT software school"
print(msg.startswith('INSTANT'))

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [26]:
prefix='www.'
end='.com'
msg=input()
print(prefix+msg+end)

IMTschool
www.IMTschool.com

**13-Write a Python program to print the following numbers up to 2 decimal places

In [27]:
num=float(input())
print(round(num,2))

3.145
3.15

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [1]:
num=float(input())
print(round(num,2))

-3.154
-3.15

**15-Write a Python program to display a number with a comma separator

In [4]:
x=837493821
print("{:,}".format(x))

837,493,821

**16-Write a Python program to reverse a string using 2 ways

In [14]:
name="Messi"
print(name[-1]+name[1:-1]+name[0])
l=list(name)
temp=l[0]
l[0]=l[-1]
l[-1]=temp

iessM
['i', 'e', 's', 's', 'M']

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [73]:
import collections
msg="Karrieemmmm"
d=collections.defaultdict(int)
for i in msg:
   d[i]+=1
for i in sorted(d, key=d.get):
  if d[i] > 1:
      print('%s %d' % (i, d[i]))

r 2
e 2
m 4

**18-Write a Python program to find the first non-repeating character in a given string

In [38]:
import collections
msg="Karrieemmmm"
d=collections.defaultdict(int)
for i in msg:
   d[i]+=1
for i in sorted(d, key=d.get, reverse=True):
  if d[i] == 1:
      print('%s %d' % (i, d[i]))

K 1
a 1
i 1

**19-Write a Python program to remove spaces from a given string

In [44]:
msg="x   karim   Refaie   Ellithy  "
msg.lstrip
msg.rstrip
x=msg.replace(" ","")
print(x)

xkarimRefaieEllithy

**20-Write a Python program to count the number of non-empty substrings of a given string

In [47]:
count=0
msg="x   karim   Refaie   Ellithy  "
for i in msg:
    if i ==" ":
        count+=1
print(count)

11

**21-write a Python program to swap first and last element of any list.

In [93]:
msg=[83,13,23,12,57,43,77]
msg[0],msg[-1]=msg[-1],msg[0]
print(msg)

[77, 13, 23, 12, 57, 43, 83]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [97]:
msg= [23, 65, 19, 90]
pos1=int(input("enter pos1: "))
pos2=int(input("enter pos2: "))
msg[pos1-1],msg[pos2-1]=msg[pos2-1],msg[pos1-1]
print(msg)

enter pos1: 1
enter pos2: 3
[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [99]:
cnt=0
msg= [23, 65, 19, 90]
for i in msg:
    cnt+=1
print(cnt)

x=len(msg)
print(x)

4
4

***24-write a Python code to find the Maximum number of list of numbers.

In [115]:
msg= [948, 65, 9332, 90]
maxnum=(max(msg))
print(maxnum)

9332

**25-write a Python code to find the Minimum number of list of numbers.

In [116]:
msg= [23, 65, 9332, 90]
minnum=min(msg)
print(minnum)

23

**26-search for if an elem is existing in list

In [123]:
x=12
msg= [23, 65, 9332, 90,87,12,9]
if(x in msg):
    print("Yes it exists")
else:
    print("No it doesnt exist")

Yes it exists

**27- clear python list using different ways

In [131]:
msg= [23, 65, 9332, 90,87,12,9]
#msg.clear() -> 1st way
for i in range(len(msg)):
    msg.pop()
print(msg)

[]

**28-remove duplicated elements from a list

In [134]:
msg= [23, 65, 9332,12, 90,87,12,9,9]
x=set(msg)
print(list(x))

[65, 9, 12, 9332, 87, 23, 90]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [60]:
l=['gtg',3,'karim',99]
dic=["Name","ID"]
result=[]
for i in range(0,len(l),2):
    result.append({dic[0]:l[i],dic[1]:l[i+1]})
    
print(result)

[{'Name': 'gtg', 'ID': 3}, {'Name': 'karim', 'ID': 99}]

**30-write a python program to count unique values inside a list using different ways

In [61]:
 from collections import Counter 
l=[1,2,2,2,3,5,6,7,7,8,8,8,8,8,8,0,99,9123,21]
c=Counter(l)
c

Counter({1: 1,
         2: 3,
         3: 1,
         5: 1,
         6: 1,
         7: 2,
         8: 6,
         0: 1,
         99: 1,
         9123: 1,
         21: 1})

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [18]:
from collections import Counter 
test_list=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
res=[]
c=Counter(test_list)
for i in c:
    if(c[i]>3):
        res.append(i)
print(res)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [22]:
list=[1,2,2,3,4,5]
res=[]
for i in range(1,len(list)):
    res.append(max(list[i],list[i-1]))
    cnt+=1
res

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [28]:
from itertools import permutations
l=[1,2,3]
res=permutations(l,3)
for i in res:
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [15]:
from itertools import combinations
test_list = [1,2,3] 
temp = combinations(test_list, 2)
for i in temp:
    print(i)

(1, 2)
(1, 3)
(2, 3)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [21]:
import itertools
from itertools import product
List_1 = ["a","b"] 
List_2 = [1,2]
unique_combinations = []
permut = itertools.permutations(List_1, len(List_2))
for i in permut:
    zipped = zip(i, List_2)
    unique_combinations.append(list(zipped))
print(unique_combinations)

[[('a', 1), ('b', 2)], [('b', 1), ('a', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [158]:
l=[1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1]
x=1
res=[]
for i in range(0,len(l)):
    if(l[i]!=1):
        res.append(l[i])
print(res)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [162]:
l1= ['Gfg', 'is', 'best'] 
l2= [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] 
res=[]
for i in range(0,len(l2)):
    if(l2[i]==0):
        x=0
        res.append(l1[x])
    elif(l2[i]==1):
        x=1
        res.append(l1[x])
    else:
        x=2
        res.append(l1[x])
res

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [12]:
test_list=[(4, 5, 5, 4), (5, 4, 3)]
N=int(input())
K=int(input())
i=0
j=0
cnt=0
output=0
while(i<2):
    while(j<len(test_list[i])):
        if(test_list[i][j]==K):
            cnt+=1
            if(cnt==N):
                print(test_list[i])
        j+=1
    i+=1
if(cnt!=N):
    print([])

3
5
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [7]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]] 
for i in range(0,3):
    sortArrays = sorted(array, key = lambda x:x[i])
    print("Sorted array  {}: {}".format(i, sortArrays))

Sorted array  0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array  1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array  2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [2]:
from collections import OrderedDict
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32} 
res=OrderedDict(sorted(dic.items()))
print(res)

OrderedDict([('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)])

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [152]:
dic={'Gfg' : 3, 'is': 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K=7
new_dic={}
for i in dic:
    if(type(dic[i])!=int or dic[i]<K):
        new_dic[i]=dic[i]
print(new_dic)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [131]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic={}
for i in dic1,dic2,dic3:
    dic.update(dic1)
    dic.update(dic2)
    dic.update(dic3)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [124]:
d={'x':10,'y':20,'z':50,'v':5}

for i in d.values():
    print(i)
for i in d.keys():
    print(i)

10
20
50
5
x
y
z
v

**44- Write a Python script to merge two Python dictionaries

In [122]:
d1={'x':10}
d2={'y':30}
d3={'v1':d1,'v2':d2}
print(d3)

{'v1': {'x': 10}, 'v2': {'y': 30}}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [121]:
d={'x':10,'y':20,'z':50,'v':5}
x=[]
for i in d.values():
   x.append(i) 
print(max(x))
print(min(x))

50
5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [116]:
d={'c1': 'Red', 'c2': 'Green', 'c3': None}
for i in d:
    if(d[i]==None):
        d.pop(i)
        break
print(d)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [98]:
x=(1,2,3,4,5)
x=(1,)
print(x)

(1,)

**48-Write a Python program to unpack a tuple into several variables

In [97]:
f=(1,2,3)
x,y,z=f
print(x)
print(y)
print(z)

1
2
3

**49-Write a Python program to add an item to a tuple

In [95]:
x=('k','a','r','i','m')
x=list(x)
x.append(123)
x=tuple(x)
print(x)

('k', 'a', 'r', 'i', 'm', 123)

**50-Write a Python program to convert a tuple to a string

In [94]:
x=('k','a','r','i','m')
x=list(x)
res=''.join(x)
print(res)

karim

**51-Write a Python program to convert a list to a tuple

In [89]:
x=[10,20,30,40]
x=tuple(x)
print(x)

(10, 20, 30, 40)

**52-Write a Python program to reverse a tuple

In [88]:
x=tuple([10,20,30,40,50,60,70,80,100])
cnt=8
y=[]
while(cnt>=0):
    y.append(x[cnt])
    cnt-=1
y=tuple(y)
print(y)

(100, 80, 70, 60, 50, 40, 30, 20, 10)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [85]:
l= [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
x=[]
for i in l:
    x.append(list(i))
i=0
while(i<3):
    j=0
    while(j<3):
        if(j==2):
            x[i][j]=100
        j+=1
    i+=1
res=[]
for i in x:
    res.append(tuple(i))


    
    
    
print(res)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [84]:
text="python3.0"
text=tuple(text)
print(text)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [31]:
x=tuple([10,20,30,40,50,60,70,80,10])
sum=0
cnt=0
for i in x:
    sum+=i
    cnt+=1
avg=sum/cnt
print(avg)

41.111111111111114

**56-Write a Python program to add member(s) to a set.

In [11]:
x=set([1,2,3,10,11,12])
x.add(99)

{1, 2, 3, 10, 11, 12, 99}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [10]:
x=set([1,2,3,10,11,12])
value=int(input())
if(value in x):
    x.remove(value)
print(x)

10
{1, 2, 3, 11, 12}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [6]:
#Intersection
y=set([9 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1])
x=set([1,2,3,10,11,12])
res1=x.intersection(y)
print(res1)

#Union
res2=x.union(y)
print(res2)

#Difference
res3=x.difference(y)
print(res3)

#Symmetric Difference
res4=x.symmetric_difference(y)
print(res4)

{1, 2, 3}
{1, 2, 3, 4, 5, 9, 10, 11, 12}
{10, 11, 12}
{4, 5, 9, 10, 11, 12}

**59-Write a Python program to find the maximum and minimum values in a set

In [178]:
y=set([9 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1])
y.add(10)
y=list(y)
maxnum=y[len(y)-1]
minnum=y[0]

10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [27]:
l=[1,2 , 3, 4, 5,6,7,8,9,10]
res=[]
sum_res=8
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if(l[i]+l[j]==sum_res):
            res.append((l[i],l[j]))
print(res)

[(1, 7), (2, 6), (3, 5)]